<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="sql-system" connectionString="Data Source=.;Uid=sa;Pwd=123456;database=renren-system" />
    <add name="code-generate" connectionString="Data Source=.;Uid=sa;Pwd=123456;database=test"/>
  </connectionStrings>
  <spring>
    <context>
      <resource uri="file://Conf/CoreConfig.xml"/>
      <resource uri="file://Conf//Objects.xml"/>
    </context>
  </spring>
</configuration>
